.ui-widget {
	font-size: 12px !important;
}

.widget {
	margin: 3px;
}

#form .widget {
	margin: 5px;
}

#form .widget.chart {
	height:400px;
	width:95%;
}

#form .widget.floating {
	float:left;
}


#uploadForm .ui-wizard-step-title {
	font-size: 12px;
}
